#=== Productos de compilación ===
*.out
*~
*.bin
*.DS_Store

#=== Archivos temporales de editores
*.kate-swp

#=== Archivos a ignorar Latex ===
*.log
*.aux
*.pdf
*.bbl
*.blg
*.kilepr
*.synctex.gz
*.backup


